pkgbase = sonic-login-manager
	pkgdesc = Sonic Login Manager
	pkgver = 6.6.5.6
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-login-manager
	arch = x86_64
	groups = sonicde
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = qt6-tools
	depends = glibc
	depends = kauth
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kio
	depends = kirigami
	depends = kpackage
	depends = kservice
	depends = libgcc
	depends = libxau
	depends = pam
	depends = qt6-5compat
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-workspace
	depends = sh
	depends = xorg-xserver
	provides = plasma-login-manager
	provides = sonic-login-manager
	source = sonic-login-manager-6.6.5.6.tar.gz::https://github.com/Sonic-DE/sonic-login-manager/archive/refs/tags/6.6.5.6.tar.gz
	sha256sums = cd16964d24c381cfcb669bc2771f8094e6ede38ac1c99a9193e1624589c12737

pkgname = sonic-login-manager
